{% extends 'shop/base.html' %}
{%  block content %}
    
<div class="form-container">
    {% if messages %}
    <div class="message-box">
        {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}           
        <label for="old-password">Old password:</label>
        <input type="password" name="old-password">
        <label for="new-password">New password:</label>
        <input type="password" name="new-password">
        <label for="confirm-password">Confirm password:</label>
        <input type="password" name="Confirm-password">
        <button type="submit">Confirm</button>    
    </form>        
</div>

{% endblock content %}